@font-face {
    font-family: 'Nunito';
    src: url("Nunito-Regular.ttf");
    src: url("Nunito-Bold.ttf")
}
.logo-test-correct {
  margin-left: 15%;
}
.logo-test-correct-homepage {
  margin-left: 15%;
  position: fixed;
}
.button-log-uit {
  margin-left: 68%;
  top: -40px;
  position: relative;
  background-color:  #041F74;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  height: 30px;
  font-family: 'Nunito';
  color: #FFFFFF;
  padding: 0px 30px;
  font-weight: bold;
}


nav {
  background-color: #004DF5;
  box-shadow: 0px 2px 0px grey;
  top: -25px;
  position: relative;
  padding-bottom: -40px;
  height: 50px;
}

nav2 {
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
}
.Test-Correct-welcome-bar-logo img {
  margin-left: 20%;
}
.button-log-in {
  margin-left: 40%;
  top: 12px;
  position: relative;
  background-color:  #3DBB57;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  height: 30px;
  font-family: 'Nunito';
  color: #FFFFFF;
  padding: 0px 30px;
  font-weight: bold;
  position: fixed;
}
body {
  margin: 0;
}
header {
  font-size: 22px;
  background-color:  #2E6FFB;
  font-family: 'Nunito';
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 55px 0px;

}
.Test-Correct-button-bar-item {
  color: white;
  font-size: 30px;
  font-family: 'Nunito';
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 15px;
}
.Test-Correct-button-bar-item-notities {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 30px;
  margin-left: 17%;
  top: -81px;
  font-family: 'Nunito';
  position: relative;
  padding: 0 auto;
}
.button-nieuwe-notitie {
  color: #FFFFFF;
  font-size: 16px;
  margin-left: 20%;
  background-color: #4075ea;
  border-radius: 10px;
  cursor: pointer;
  padding: 0px 30px;
  height: 30px;
  border: none;
  font-family: 'Nunito';
  top: -81px;
  position: relative;
}

.form-controle{
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  height: 30px;
  font-family: 'Nunito';
  margin-left: 72%;
  padding: 0px 30px;
  top: 1%;
  position: relative;
}

form .button-search{
  background-color: #3DBB57;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  height: 30px;
  font-family: 'Nunito';
  color: #FFFFFF;
  margin-left: 90%;
  padding: 0px 30px;
  top: -40px;
  position: relative;
 }

.button-Filter {
  background-color: #3DBB57;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  height: 30px;
  font-family: 'Nunito';
  color: #FFFFFF;
  margin-left: 2%;
  padding: 0px 30px;
  top: -81px;
  position: relative;
}
.In_Uitloggen {
  color: white;
  font-size: 30px;
  font-family: 'Nunito';
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
}
section h3 {
  font-family: "Nunito";
  font-size: 30px;
  text-align: center;
}
section p {
  font-size: 20px;
  font-family: 'Nunito';
  margin-left: 25%;
}

.Layout_Notities {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-family: 'Nunito';
}
.footer {
  font-family: 'Nunito';
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  width: 20%;
  margin: 0 auto;
  background-color:  #F0F2F5;
  padding: 55px 690px;
  color: black;
}
.Footer-opties {
  list-style-type: none;
  float: right;
  margin-right: 35px;
  box-sizing: border-box;
  text-align: center;
}
.Footer-opties a {
  list-style-type: none;
  color: black;
  text-decoration: none;
  font-family: 'Nunito';
}
.Test-Correct-button-bar-item-notities:hover{
    color: #041F74;
}
.In_Uitloggen:hover{
    color: #041F74;
}