@font-face {
    font-family: 'Nunito';
    src: url("../static/fonts/Nunito-Regular.ttf");
    src: url("../static/fonts/Nunito-Bold.ttf")
}

@font-face {
    font-family: 'Nunito';
    src: url("../static/fonts/Nunito-Regular.ttf");
    src: url("../static/fonts/Nunito-Bold.ttf")
}
body {
  margin: 0;
}

.form-controle{
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  height: 30px;
  font-family: 'Nunito';
  margin-left: 72%;
  padding: 0px 30px;
  top: 1%;
  position: relative;
}

.Layout_Notities {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-family: 'Nunito';
}
